*
{
	box-sizing:border-box;
}
h1
{
	color:white;
	padding:0px;
	font-size:100px;
	text-align:center;
}
#id01,#id02,#id03,#id04,#id05,#id06,#id07,#id08,#id09
{
	height:100px;
	width:100px;
	border:1px solid black;
	font-size:75px;
	color:blue;
	text-align:center;
	cursor:pointer;
}
#id01:hover{background-color:rgb(0,130,0);}
#id02:hover{background-color:rgb(0,130,0);}
#id03:hover{background-color:rgb(0,130,0);}
#id04:hover{background-color:rgb(0,130,0);}
#id05:hover{background-color:rgb(0,130,0);}
#id06:hover{background-color:rgb(0,130,0);}
#id07:hover{background-color:rgb(0,130,0);}
#id08:hover{background-color:rgb(0,130,0);}
#id09:hover{background-color:rgb(0,130,0);}
.container
{
	margin-left:auto;
	margin-right:auto;
	width:300px;
	height:300px;
	display:grid;
	grid-template-columns:auto auto auto;
	border:1px solid black;
	background-color:rgb(34,139,34);
	animation-name:anim;
	animation-duration:2s;
	animation-delay:2s;
	animation-iteration-count:infinite;
	box-shadow:2px -2px 15px white,2px 2px 15px white,-2px 2px 15px white,-2px -2px 15px white;
}
@keyframes anim
{
	0%{box-shadow:2px -2px 15px yellow,2px 2px 15px yellow,-2px 2px 15px yellow,-2px -2px 15px yellow;}
	10%{box-shadow:2px -2px 15px white,2px 2px 15px white,-2px 2px 15px yellow,-2px -2px 15px white;}
	20%{box-shadow:2px -2px 15px yellow,2px 2px 15px yellow,-2px 2px 15px yellow,-2px -2px 15px yellow;}
	30%{box-shadow:2px -2px 15px white,2px 2px 15px white,-2px 2px 15px white,-2px -2px 15px white;}
	40%{box-shadow:2px -2px 15px yellow,2px 2px 15px yellow,-2px 2px 15px yellow,-2px -2px 15px yellow;}
	50%{box-shadow:2px -2px 15px white,2px 2px 15px white,-2px 2px 15px yellow,-2px -2px 15px white;}
	60%{box-shadow:2px -2px 15px yellow,2px 2px 15px yellow,-2px 2px 15px yellow,-2px -2px 15px yellow;}
	70%{box-shadow:2px -2px 15px white,2px 2px 15px white,-2px 2px 15px white,-2px -2px 15px white;}
	80%{box-shadow:2px -2px 15px yellow,2px 2px 15px yellow,-2px 2px 15px yellow,-2px -2px 15px yellow;}
	90%{box-shadow:2px -2px 15px white,2px 2px 15px white,-2px 2px 15px white,-2px -2px 15px white;}
	100%{box-shadow:2px -2px 15px yellow,2px 2px 15px yellow,-2px 2px 15px yellow,-2px -2px 15px yellow;}
	/*to{box-shadow:2px -2px 1px white,2px 2px 1px white,-2px 2px 1px white,-2px -2px 1px white;}*/
}
body
{
	background-image:linear-gradient(black,blue,black);
}
#btn
{
	width:20%;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content:center;
	padding-top:12px;
	background-color:red;
	color:white;
	border:none;
	border-radius:10px;
	font-size:20px;
	box-shadow:1px 1px 1px gray;
	border-left:2px solid crimson;border-top:2px solid crimson;
	border-right:4px solid crimson;border-bottom:4px solid crimson;
}
#btn:hover
{
	opacity:75%;
}
/*@media screen and (max-width:300px){
	.container
	{
		height:450px;
		width:450px;
	}
	#id01,#id02,#id03,#id04,#id05,#id06,#id07,#id08,#id09
	{
		height:150px;
		width:150px;
	}
	#btn
	{
		margin-left:auto;
		width:100%;
	}
	h1
	{
		font-size:60px;
	}
}*/